/* base */
* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

nav{
    padding: 15px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
}

nav .logo {
     display: inline-block;
     width: 30%;    
}
nav .logo img{
    height: 60px;
    width: 180px;
}

nav .navigation{
    width: 68%;
    display: inline-block;
    text-align: right;
    float: right;
}

nav .navigation ul{
    margin-top: 30px;
}

nav .navigation ul li{
    display: inline-block;
    margin-right: 8px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: #777777;
    text-transform: uppercase;
}

nav .navigation ul li a:hover,
nav .navigation ul li a:active,
nav .navigation ul li a:focus{
    text-decoration: underline;
}

/* Header */
header{
    background-image: url('./images/bluewater.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px;
    text-align: center;
    color: #333333;
}

header .content{
    max-width: 992px;
    padding: 0 15px;
    margin: 0 auto;
}

header .content h1{
    font-size: 42px;
}
header .content p{
    font-size: 18px;
    color: #ffffff;
}
header .content button{
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: #d48c79;
    color: #ffffff;
    padding: 12px 15px;
    margin-top: 10px;
    cursor: pointer;

}


/* main content */
section{
    max-width: 992px;
    margin: 0 auto;
    padding: 60px 0;
}

article{
    width: 65%;
    padding: 15px;
    display: inline-block;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

article h3{
    font-size: 28px;
}
article p{
    margin-bottom: 20px;
}
article p small{
    color: #d48c79;
}
article img{
    width: 100%;
    margin-bottom: 20px;
}


aside{
    width: 25%;
    padding: 15px;
    display: inline-block;
    float: right;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

aside .post{
    border-bottom: 1px solid #888888;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
aside .post h4{
    font-size: 20px;
}
aside .post p{
    font-size: 14px;
    margin: 14px 0;
}
aside .post a{
    text-decoration: none;
    color: #d48c79;
}
aside .post a:hover,
aside .post a:active,
aside .post a:focus{
    text-decoration: underline;
}


footer{
    padding: 12px 15px;
    background-color: #333333;
}
footer p{
    font-size: 18px;
    color: #f2f2f2;
}












@media screen
and (max-width: 768px) {
    nav .logo{
        width: 100%;
        text-align: center;
    }
    nav .navigation{
        width: 100%;
        text-align: center;
        float: none;
    }


    header{
        padding: 40px 0;
    }
    header.content{
        font-size: 32px;
    }



    section{
        padding: 30px 0;
    }
    article{
        width: 90%;
        display: block;
        margin: 0 auto 20px;
    }
    aside{
        display: block;
        float: none;
        width: 90%;
        margin: 0 auto;
    }

}

